@model ClinicFormModel

<body class="masterFormEmp ">
    <div class="container font-weight-bold">
        <div class="row">
            <div class="col-sm-12 offset-lg-2 col-lg-6 offset-xl-3 col-xl-6">
                <h2 class="heading-margin text-center">@ViewBag.Title</h2>
                <form method="post">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Clinic Name">
                        <span asp-validation-for="Name" class="small text-danger"></span>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label asp-for="CityId"></label>
                        <select asp-for="CityId" placeholder="asd" class="custom-select" required>
                            <option value="">Please select</option>
                            @foreach (var city in Model.CityNames)
                            {
                                <option value="@city.Id">@city.Name</option>
                            }
                        </select>
                        <span asp-validation-for="CityId" class="small text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Street"></label>
                        <input asp-for="Street" class="form-control" placeholder="Street">
                        <span asp-validation-for="Street" class="small text-danger"></span>
                    </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number">
                        <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-success float-sm-right">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>