@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container text-white">
        <h1 style="color: #000000">We Provide Care,<br />That Your Pet<br />Deserves!</h1>
        <br />
        <h4 class="text-dark">ADOPTING</h4><h6 class="text-dark">THE RIGHT PET FOR YOUR FAMILY</h6>
        <br />
        <a asp-controller="Clinics" asp-action="All" class="btn btn-info text-dark btn-sm m-2" style='background: rgb(255 106 0)'>GIVE US CALL</a>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-3 columns">
        <div class="kode-service-type-1">
            <div style="background:#4d9f17" class="kf_pet_service_wrap">
                <i class="icon-animal614 "></i>
                <h4>ADOPT ME</h4>
                <p style="color:#ffffff">
                    Best Adopt Me PETS
                </p>
                <a class="brand" asp-controller="VetServices" asp-action="Details"><kbd>LEARN MORE</kbd></a>
            </div>
        </div>
    </div>
    <div class="col-md-3 columns">
        <div class="kode-service-type-1">
            <div style="background:#f29100" class="kf_pet_service_wrap">
                <i class="fa fa-paw"></i>
                <h4>OUR SERVICES</h4>
                <p style="color:#ffffff">
                    We offer a variety of SERVICES
                </p>
                <a class="brand" asp-controller="VetServices" asp-action="All"><kbd>LEARN MORE</kbd></a>
            </div>
        </div>
    </div>
    <div class="col-md-3 columns">
        <div class="kode-service-type-1">
            <div style="background:#dc6939 " class="kf_pet_service_wrap">
                <i class="icon-stethoscope"></i>
                <h4>OUR TEAM</h4>
                <p style="color:#ffffff">
                    Meet out TEAM
                </p>
                <a class="brand" asp-controller="Employees" asp-action="Team"><kbd>LEARN MORE</kbd></a>
            </div>
        </div>
    </div>
    <div class="col-md-3 columns">
        <div class="kode-service-type-1">
            <div style="background:#35aeba" class="kf_pet_service_wrap">
                <i class="icon-hairdresser22"></i>
                <h4>CONTACT US</h4>
                <p style="color:#ffffff">Contact with US</p>
                <a class="brand" asp-controller="Clinics" asp-action="All"><kbd>LEARN MORE</kbd></a>
            </div>
        </div>
    </div>
</div>
