@model List<DetailsEmployeeViewModel>

@{
    ViewData["Title"] = "Our Team";
}

<h2 class="text-center">Employees</h2>

<div class="row">
    @foreach (var employee in Model)
    {
        <div class="card text-center responsive" style="width: 16rem; ">
            <img class="card-img-top" src="@employee.Image">
            <div class="card-body">
                <h5 class="card-title text-center">@employee.FirstName  @employee.LasttName</h5>
                <p class="card-text text-center">@employee.Position</p>
                <a href="/Employees/Details?employeeId=@employee.Id" class="btn btn-primary ">More Info</a>
            </div>
        </div>
    }
</div>
