@model List<DetailsPetFormModel>

@{
    ViewData["Title"] = "Pet`s";
}

@if (!Model.Any())
{
    <div class="text-center">

        <h2 class="display-4" font-weight: bold;>Welcome</h2>
        <p class="lead">You have no pets registered</p>
        <hr class="my-4">
        <p class="lead">
        </p>
        <a asp-controller="Pets" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Pet</a>

    </div>

}
else
{

    <h2 class="text-center">My Pets</h2>

    <div class="row">
        @foreach (var pet in Model)
        {
            <div class="card text-center responsive col-md-6 col-xl-4">
                <h5 class="card-title text-center">@pet.Name</h5>
                <img class="card-img-top" src="@pet.Image">
                <div class="card-body">
                    <p class="card-text text-center">@pet.AnimalType</p>
                    <a asp-controller="Pets" asp-action="Details" asp-route-petId="@pet.Id" class="btn btn-info">Info</a>
                </div>
            </div>
        }
    </div>
}
